body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*border: solid #00A2FF 2px;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header Bar */
header {
  display: flex;
  justify-content: space-between;
  background-color: #00A2FF;
  position: fixed;
  width: 100%;
  padding: 10px 30px 10px 30px;
  left: 0;
  top: 0;
}

.logo-div {
  display: flex;
  flex: 2 1 auto;
  gap: 20px;
}

.logo {
  height: 80px;
  margin-left: 200px;
  width: auto;
}

.header-links-div {
  display: flex;
  gap: 20px;
  align-items:center;
  margin-right: 200px;
}

.header-links-div a {
  text-decoration: none;
  color: white;
}

/* Main */
main {
  margin: 200px auto 50px auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 120px;
}

main > div {
  padding: 0 40px 0 40px;
  box-shadow: 10px 20px;
}

/* Intro */
.intro-div {
  background-color: bisque;
}

.hi-im {
  font-size: 2rem;
  display: block;
  width: 200px;
}

.intro-div h1 {
  width: auto;
  font-size: 4rem;
  margin-bottom: 10px;
}

/* About Me */
.about-me-div {
  background-color: aliceblue;
}

.headshot {
  max-width: 200px;
}

/* Resume */
.resume-div {
  background-color: aquamarine;
}

.resume {
  height: 100vh;
  max-width: 1000px;
}

/* Contact Me */
.contact-div {
  background-color:violet;
}

/* Footer (sits within main */
footer {
  background-color: #00A2FF; 
  color: white;
  text-align: center;
  padding: 5px 0 5px 0;
  font-size: 0.8rem;
}

/* Mobile */
@media only screen and (max-width: 600px) {
  header {
    padding-left: 10px;
    max-width: auto;
  }
  .logo {
    margin-left: 0px;
    margin-right: 20px;
  }
  header a {
    display: none;
  }
  main {
    margin-top: 120px;
    gap: 50px;
  }
  main > div {
    margin: 0 15px 0 15px;
    box-shadow: 5px 10px;
  }
}